:root {
    --logo-color: #4d5ae5;
    --logo-accent-color: #2e2f42;
    --hover-color: #404bbf;
    --color-main-text: #434455;
    --footer-color: #f4f4fd;
    --color-border: #e7e9fc;
    --checkbox-color: #8e8f99;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        width: 1168px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* header */
.logo {
    color: #404bbf;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    position: relative;
}

.logo-accent {
    color: var(--logo-accent-color);
}

.open-mobile-menu-btn {
    border: none;
    background-color: transparent;
}

.open-mobile-menu-icon {
    stroke: #2f2f2f;
}

.cont-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 320px;
        
        background: #FFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 40px;
        padding-bottom: 40px;}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.close-btn-mobile {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #ebebec;
    fill: #03031b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
}

.social-links-mobile-menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    color: #2f2f2f;
}

.mobile-menu-link-aktive {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    color: #404bbf;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    gap: 40px;
}

.mobile-adresse-link-aktive {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    color: #404bbf;
    font-style: normal;
}

.mobile-adresse-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    color: #2f2f2f;
    font-style: normal;
}

.mobile-menu-adress {
    display: flex;
    flex-direction: column;
    margin-top: 168px;
    margin-bottom: 48px;
    pmargin-left: 16px;
    gap: 24px;
}

@media screen and (max-width: 767px) {
    .header-menu {
        display: none;
    }

    .list-social {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .header-menu {
        display: flex;
    }

    .list-social {
        display: flex;
        flex-direction: column;
    }

    .header-socials {
        font-style: normal;
    }

    .header-socials-link {
        color: var(--color-main-text);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link {
        color: var(--color-main-text);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link-aktive {
        color: #404bbf;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-conteiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 332px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .site-nav {
        display: flex;
    }

    .cont-head {
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link-aktive::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--hover-color);
        margin-top: 4px;
        border-radius: 4px;
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1168px) {
    .list-social {
        display: flex;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-socials {
        display: flex;
    }

    .list-social {
        display: flex;
        flex-direction: row;
    }

    .header-menu-link:hover {
        color: #404bbf;
    }

    .header-menu-link:focus {
        color: #404bbf;
    }

    .header-socials-link:hover {
        color: #404bbf;
    }

    .header-socials-link:focus {
        color: #404bbf;
    }
}
    /* order service button */
        @media screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx),
        screen and (min-device-pixel-raito: 2) {
            .navy-background {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-mobile@2x.jpg);
            }
        }
    
        @media screen and (min-width:768px) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-teblet.jpg);
                padding-top: 112px;
                padding-bottom: 112px;
            }
        }
    
        @media screen and (min-resolution: 192dpi) and (min-width:768px),
        screen and (min-resolution: 2dppx) and (min-width:768px),
        screen and (min-device-pixel-raito: 2) and (min-width:768px) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-tablet@2x.jpg);
            }
        }
    
        @media screen and (min-width:1158px) {
            .hero {
                padding-top: 188px;
                padding-bottom: 188px;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-pc.jpg);
            }
        }
    
        @media screen and (min-resolution: 192dpi) and (min-width:1158px),
        screen and (min-resolution: 2dppx) and (min-width:1158px),
        screen and (min-device-pixel-raito: 2) and (min-width:1158px) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-pc@2x.jpg);
            }
        }
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn-main {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-main:hover {
    background-color: var(--hover-color);
}

.hero-btn-main:focus {
    background-color: var(--hover-color);
}

@media screen and (max-width: 767px) {
    .hero-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.05em;
        font-weight: 700;
        max-width: 220px;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .hero {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1168px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero-title {
        margin-bottom: 48px;
    }
}
/*  strategy,
 punctuality,
 diligence,
 technologies section two*/
.adventages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.adventages-subtitle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #2e2f42;
}

.adventages-items-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.conteiner-adv {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .adv-icon {
        display: none;
    }

    .adventages-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .adventages-items {
        width: 288px;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .adventages {
        padding-left: 16px;
        padding-right: 16px;
    }

    .adv-icon {
        display: none;
    }

    .adventages-items {
        display: flex;
        flex-direction: column;
        width: calc((100% - 24px) / 2);
        text-align: left;
        min-width: 356px;
    }

    .adventages-subtitle {
        display: flex;
        width: calc((100% - 24px) / 2);
    }

    .adventages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px;
    }
}

@media screen and (min-width: 1168px) {
    .adventages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .adventages-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .adventages-items {
        width: calc((100% - 72px) / 4);
        text-align: left;
        min-width: 264px;
    }

    .adv-icon {
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        height: 112px;
        width: 264px;
        padding: 24px 24px;
        display: flex;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    .adventages-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;

        color: var(--logo-accent-color);
        margin-bottom: 8px;
    }

    .adventages-items-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .ourteam {
        background-color: #f4f4fd;
        padding: 120px 0;
    }

    .conteiner-ourteam {
        display: flex;
        gap: 24px;
    }

    .ourteam-img {
        background-color: #ffffff;
    }

    .ourteam-title {
        color: var(--logo-accent-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .ourteam-subtitle {
        color: var(--logo-accent-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

/* our team */
.ourteam {
    padding: 96px 0;
    background-color: #f4f4fd;
}

.conteiner-ourteam {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 8px;
}

.social-netw {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    fill: #ffffff;
    background-color: var(--logo-color);
    border: 1px solid #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.icon-socials {
    fill: var(--footer-color);
}

.ourteam-title {
    color: var(--logo-accent-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-subtitle {
    color: var(--logo-accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.picture-ourteam {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-name {
    padding: 32px 0;
    text-align: center;
}

.pic-team {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .picture-ourteam {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 264px;
    }

    .conteiner-ourteam {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1168px) {
    .conteiner-ourteam {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .ourteam {
        padding: 120px 0;
    }

    .picture-ourteam {
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

   

/* our portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-apps {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.port-app-one {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.img-port-all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-port-all:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: var(--logo-color);
    color: var(--footer-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-port-all:hover .overlay {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}

.port-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-accent-color);
    margin-bottom: 8px;
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}

@media screen and (max-width: 767px) {
    .port-img {
        width: 288px;
        height: 280px;
    }
}

@media screen and (min-width: 768px) {
    .img-port-all {
        display: flex;
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        justify-content: center;
    }
}

@media screen and (min-width: 1168px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .port-apps {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .port-app-one {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 358px;
    }

    .img-port-all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 356px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-port-all:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .port-img {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        padding: 40px 32px;
        background-color: var(--logo-color);
        color: var(--footer-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-port-all:hover .overlay {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0);
    }

    .port-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--logo-accent-color);
        margin-bottom: 8px;
    }

    .port-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-main-text);
    }
}

/* Footer */
.footer {
    background-color: #2e2f42;
    color: var(--footer-color);
    padding: 100px 0;
    text-align: left;
}

.footer-logo {
    color: var(--logo-color);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent-footer {
    color: var(--footer-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.conteiner-footer {
    display: flex;
    align-items: baseline;
}

.footer-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-links-footer {
    display: flex;
    gap: 16px;
}

.social-link-foot {
    fill: #ffffff;
    background-color: var(--logo-color);
    border: 1px solid #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-foot:hover,
.social-link-foot:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    display: flex;
    gap: 24px;
}

.footer-input {
    height: 40px;
    width: 264px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.btn-subscribe-footer {
    height: 40px;
    color: #ffffff;
    background-color: #4d5ae5;
    min-width: 165px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.icon-subscribe {
    right: 16px;
    top: 8px;
    fill: #ffffff;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .conteiner-footer {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .footer-subscribe {
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-title {
        text-align: center;
        margin-bottom: 16px;
    }

    .footer-box {
        margin: 0 auto;
    }

    .btn-subscribe-footer {
        width: 165px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .conteiner-footer {
        width: calc((100%-24px) / 2);
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: baseline;
        padding-left: 108px;
    }

    .footer-box {
        justify-content: left;
    }

    .footer-subscribe-box {
        justify-content: left;
    }
}

@media screen and (min-width: 1168px) {
    .footer-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-right: 80px;
    }

    .conteiner-footer {
        flex-wrap: nowrap;
        padding-left: 16px;
    }

    .footer {
        margin: 0 auto;
    }
}


 /* /backdrop */
 .backdrop {
     top: 0;
     left: 0;
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);
     z-index: 9999;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .close-btn {
     background-color: #e7e9fc;
     padding: 0;
     line-height: 0;
     position: absolute;
     top: 24px;
     right: 24px;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
     fill: #2e2f42;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     width: 24px;
     height: 24px;
 }

 .close-btn-icon {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-btn:hover,
 .close-btn:focus {
     fill: #ffffff;
     background-color: #404bbf;
     border: none;
 }

 .modal-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     font-weight: 500;
     margin-bottom: 16px;
     text-align: center;
     color: var(--logo-accent-color);
 }

 .modal-label {
     margin-bottom: 8px;
 }

 .review-form-field-label {
     font-size: 12px;
     font-weight: 400;
     line-height: 1.17;
     letter-spacing: 0.04em;
     text-align: left;
     color: #8e8f99;
     display: block;
     margin-bottom: 4px;
 }

 .form-review {
     position: relative;
 }

 .review-form-input {
     border-radius: 4px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     padding-left: 38px;
     padding-top: 11px;
     padding-bottom: 11px;
     width: 100%;
     margin-bottom: 8px;
     height: 40px;
     background-color: transparent;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-field-icon {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 16px;
     fill: var(--logo-accent-color);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-input:focus {
     border-color: #4d5ae5;
     outline: transparent;
 }

 .review-form-input:focus+.review-form-field-icon {
     fill: #4d5ae5;
 }

 .textaria-form {
    
 }

 .review-form-comment {
     border-radius: 4px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     width: 100%;
     margin-bottom: 16px;
     padding-left: 16px;
     height: 120px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
     background-color: transparent;
     padding: 8px 16px;
     outline: transparent;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-comment:focus {
     border-color: #4d5ae5;
 }

 .review-form-checkbox-label {
    display: flex;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     font-weight: 600;
     
     margin-bottom: 16px;
    
     font-weight: 400;
     color: var(--checkbox-color);
 }

 .review-form-checkbox-wrapper {
     margin-bottom: 24px;
 }

 .review-btn-submit {
     min-width: 169px;
     padding: 16px, 32px;
     border-radius: 4px;
     border: none;
     background-color: var(--logo-color);
     color: #ffffff;
     margin: 0 auto;
     padding: 16px, 32px;
     min-height: 56px;
     display: block;
     align-items: center;
     justify-content: center;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .review-form-own {
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: transparent;
     margin-right: 8px;
    flex-shrink: 0;
 }

 .link-privacy {
     color: var(--logo-color);
 }

 .review-form-checkbox {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .review-form-checkbox:checked+.review-form-checkbox-label>.review-form-own {
     background-color: var(--hover-color);
     border: none;
     fill: var(--footer-color);
 }

 @media screen and (max-width: 767px) {
     .modal {
         width: 288px;
         min-height: 623px;
         padding: 72px 24px 24px 24px;
         border-radius: 4px;
         background-color: #fcfcfc;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
             0px 2px 1px rgba(0, 0, 0, 0.2);
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
 }

 @media screen and (min-width: 768px) {
     .modal {
         width: 408px;
         min-height: 584px;
         padding: 72px 24px 24px 24px;
         border-radius: 4px;
         background-color: #fcfcfc;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
             0px 2px 1px rgba(0, 0, 0, 0.2);
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
 }
 